$background-image-path: "/assets/images/login_bg.jpg";
$background-color-body: #131720;
$gris: #ccc;
$noir: #333;
$red: #FF0000;
$blanc: #fff;
$bleu_dark: #151f30;
$bleu_dark_form: #131720;
$bleu_btn: #2f80ed;
$gris_placeholder: #e0e0e0;
$search-bar-button-hover-color: #555;
